.button,
button {
  background: $color-primary;
  border-radius: $border-radius;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 1em 2em;
  transition: background $transition-type;

  &:hover {
    background: lighten($color-primary, 10%);
    color: inherit;
  }

  &:focus {
    outline: 0;
    color: inherit;
  }
}
