.header {
  height: 100vh;
}

.header-content {
  transform: translateY(20%);
}

.header-title,
.header-subtitle {
  text-transform: uppercase;
}

.header-subtitle {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.header-buttons button {
  margin: 0 0.5rem;
}
