.header::before {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/img/HighresScreenshot01.png");
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -99;
}

.header {
  background: rgba(17, 17, 17, 0.7);
  height: 100vh;
}

.header-content {
  padding-top: 6em;
}

.header-title,
.header-subtitle {
  text-transform: uppercase;
  font-weight: normal;
}

.header-subtitle {
  font-size: 1.2rem;
  margin: 0 auto 6rem auto;
  max-width: 600px;
}

.header-buttons button {
  margin: 0 0.5rem;
}

@media only screen and (max-width: $max-width-mobile) {
  .header {
    padding-top: 10rem;
  }
}
