.header {
  height: 95vh;
}

.header-content {
  transform: translateY(10vh);
}

.header-title,
.header-subtitle {
  text-transform: uppercase;
}

.header-subtitle {
  font-size: 1.2rem;
  margin: 0 auto 6rem auto;
  max-width: 600px;
}

.header-buttons button {
  margin: 0 0.5rem;
}
