.navbar {
  background: transparent;
  overflow: hidden;
  display: inline;

  &-logo {
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      max-width: 6em;
      max-height: 6em;
    }
  }

  &-left {
    float: left;
    padding: 1em;
  }

  &-right {
    float: right;
    padding: 1em;
  }

  &-item {
    margin-left: 1em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  &-item a {
    color: darken($color-foreground, 25%);
    transition: color $transition-type;
  }

  &-item a:hover {
    color: $color-primary;
  }

  &-item .is-primary {
    color: $color-primary;
    transition: text-shadow $transition-type;
  }

  &-item .is-primary:hover {
    text-shadow: 1px 1px 8px $color-primary;
  }

  &-item .is-active {
    color: $color-foreground;
    text-shadow: 1px 1px 8px $color-foreground;
  }

  &-item .is-active:hover {
    color: $color-foreground;
  }
}

@media only screen and (max-width: $max-width-mobile) {
  .navbar {
    text-align: center;

    &-logo {
      display: none;
    }

    &-left {
      display: none;
    }

    &-right {
      display: block;
      padding: 1em;
      width: 100%;
    }

    &-item {
      display: block;
      padding: 0.2em 0;
      font-size: 1em;
    }
  }
}
