.navbar {
  background: transparent;
  padding: 1rem;
  overflow: hidden;
}

.navbar-logo {
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-item {
  margin-left: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;

  a {
    color: darken($color-foreground, 25%);
    transition: color $transition-type;
  }

  a:hover {
    color: $color-primary;
  }

  .is-primary {
    color: $color-primary;
  }
}
