.section {
  padding: 1rem 0;
  background: $color-background;

  &:nth-child(odd) {
    background: lighten($color-background, 5%);
  }
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.section-content {
  padding: 1rem;

  img {
    border-radius: $border-radius;
  }
}
