.section {
  padding: 2em 0;
  background: $color-background;

  &:nth-child(odd) {
    background: lighten($color-background, 5%);
  }

  &-title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &-subtitle {
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
  }

  &-content {
    padding: 1em;
  }

  &-mission {
    @extend .section;

    background-attachment: fixed;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.7),
        rgba(17, 17, 17, 0.7)
      ),
      url("/img/media/HighresScreenshot04-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
