body {
  font-family: $font-primary;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: color $transition-type;

  &:hover {
    color: lighten($color-primary, 10%);
  }
}

p {
  font-family: $font-paragraph;
  font-size: 0.8em;
}

code {
  background: lighten($color-background, 10%);
  border-radius: $border-radius;
  font-family: $font-monospace;
  font-size: 0.7em;
  padding: 0.5em;
}

.is-primary {
  color: $color-primary;
  font-weight: bold;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

@media only screen and (max-width: $max-width-mobile) {
  body {
    font-size: 16px;
  }
}
