@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: color $transition-type;

  &:hover {
    color: lighten($color-primary, 10%);
  }
}
