.container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.display-none {
  display: none;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
}

@media only screen and (max-width: $max-width-mobile) {
  .columns {
    display: block;
  }

  .column {
    display: block;
  }
}
