@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

$color-background: #111111;
$color-foreground: #ffffff;
$color-primary: #963232;

$transition-type: 0.1s ease-out;

$border-radius: 0.1rem;

$font-primary: "Oswald", sans-serif;
$font-paragraph: "Open Sans", sans-serif;
$font-monospace: monospace;
