@import "variables";
@import "button";
@import "footer";
@import "header";
@import "navbar";
@import "section";
@import "typography";
@import "utilities";

::selection {
  background: $color-primary;
  color: $color-foreground;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-background;
  color: $color-foreground;
  line-height: 1.5;
  margin: 0;
  overflow: hidden scroll;
  padding: 0;
}

img {
  user-select: none;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
